version: "3.5"
services:
  nethermind:
    build:
      context: .
      args:
        UPSTREAM_VERSION: 1.14.0
    image: "nethermind.public.dappnode.eth:1.0.9"
    restart: unless-stopped
    security_opt:
      - "seccomp:unconfined"
    volumes:
      - "data:/data"
    environment:
      MODE: normal
      NETHERMIND_CONFIG: mainnet
      NETHERMIND_SYNCCONFIG_FASTSYNC: "true"
      NETHERMIND_JSONRPCCONFIG_ENABLED: "true"
      NETHERMIND_JSONRPCCONFIG_HOST: 0.0.0.0
      NETHERMIND_INITCONFIG_WEBSOCKETSENABLED: "true"
      NETHERMIND_NETWORKCONFIG_DISCOVERYPORT: 30314
      NETHERMIND_NETWORKCONFIG_P2PPORT: 30314
      EXTRA_OPTS: ""
    ports:
      - "30314:30314/udp"
      - "30314:30314/tcp"
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          memory: 16384M
volumes:
  data: {}
